.cssinput {
  padding: 5px;
  font-size: 16px;
  border-width: 2px;
  border-color: #747dfb;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.cssinput:focus {
  outline:none;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
.hr {
  border-top: 20px black;
  width: 80%;
  position: absolute;
}
.blue {
  color: darkblue;
  font-size: 20px;
}
.img {
	width: 100px;
}
.h1 {
	font-family: Tahoma;
	font-weight:bold;
	font-size: 30px;
	color: darkred;
}